/* the styles for the elements */
*{
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
header {
	border-bottom: #931420 3px solid;
	border-top: #931420 3px solid;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background: linear-gradient(30deg , #f6bb73 0%,  #f6bb73 30%,white 50%,  #f6bb73 80%,  #f6bb73 100%);
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 600px;
	margin: 0 auto;
	border: #931420 3px solid;
	background-color: #ffffbb;
}
a:hover {
	font-style: italic;
}
blockquote{
	font-style: italic;
}
h2 {
	font-size: 170%;
	color: #800000;
}
h3 {
	font-size: 130%;
	font-style: italic;
}
.shadow {
	text-shadow: 2px 2px #800000;
}
/* the styles for the header */
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}

/* the styles for the section */
main {
	clear: left;
	padding-right: 30px;
	padding-left: 30px;
}
main h1{
	font-size: 150%;
	border-bottom: #931420 3px solid;
	border-top: #931420 3px solid;
	padding-top: .3em;
	padding-bottom: .3em;
	border: red double;
	border-radius: 10px;
	box-shadow: 3px 3px black
}
main h2{
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}
main h3{
	font-size: 105%;
	padding-bottom: .25em;
}
main img{
	padding-bottom: 1em;
}
main p{
	padding-bottom: .5em;
}

main blockquote{
	padding-right: 2em;
	padding-left: 2em;
 }

main ul{
	padding-left: 1.25em;
	padding-bottom: .25em;
  }

main li{
	padding-bottom: .35em;
}


/* the styles for the footer */
footer p {
	text-align: center;
	color:white;
	padding-top: 1em;
	padding-bottom: 1em;
}
footer {
	border-bottom: #931420 3px solid;
	border-top: #931420 3px solid;
	background-color: #931420;
}